.App {
  text-align: center;
}
input[type="text"] {
  width: 230px;
  padding: 8px;
  border: 1px solid #f0f1f2;
}

button {
  width: 60px;
  padding: 8px;
  margin: 0 0 0 14px;
  border: 1px solid #f0f1f2;
}
.task-row {
  display: flex;
  justify-content: space-around;
  justify-items: center;
}
h3.task-list-header {
font-size: 20px;
}

.task-list-header {
  text-align: left;
  border: 1px solid #f0f1f2;
  padding: 5px;
  width: 300px;
  font-size: 15px;
  margin: 27px 0 0 0;
  background-color: #f0f1f2;
}
img {
  height: 23px;
  padding: 16px 0px 0 0;
  cursor: pointer;
}
.task-list-item {
  font-size: 14px;
  text-align: left;
  justify-content: space-between;
  display: flex;
  border: 1px solid #f0f1f2;
}
p.task-name {
  width: 223px;
}
.edit-check{
  display: flex;
}